.idea/
.env
*__pycache__/
desktop.ini
db.sqlite3
media/
venv/
.gitignore
staticfiles/db.sqlite3
.vscode/*
staticfiles/*
phone-translator-*.json
# FontAwesome files (too large for git)
fontawesome-free-6.7.2-web.zip
fontawesome-free-6.7.2-web/
