Babel
black
channels
Django==4.2.9
django-phonenumber-field
django-twilio
flake8
flake8-black
flake8-bugbear
googletrans-py
gunicorn
numpy
pip-tools
phonenumbers
pre-commit
python-dotenv
requests
twilio
uvicorn
virtualenv
websockets
whitenoise
