Babel
black>=24.3.0
cbor2
certifi>=2024.07.04
channels
Django>=4.2.18
django-passkeys
django-phonenumber-field
django-twilio
flake8
flake8-black
flake8-bugbear
googletrans-py
google-cloud-speech
gunicorn>=22.0.0
grpcio==1.69.0
idna>=3.7
numpy==2.2.6
pip-tools
proto-plus>=1.25.0
protobuf>=4.25.5
phonenumbers
pre-commit
python-dotenv
pytest
requests>=2.32.0
sqlparse>=0.5.0
twilio
urllib3>=2.2.2
uvicorn
virtualenv
websockets
whitenoise
