git+https://github.com/7cougar7/aurora-dsql-django.git@5bfb55fec010765d36f21a6015d6fed6c33186dd
Babel
black>=24.3.0
cbor2
certifi>=2024.07.04
channels
Django>=5.2.14,<6
django-passkeys>=2.1
django-phonenumber-field
git+https://github.com/rdegges/django-twilio.git@v0.14.3.4-a1
flake8
flake8-black
flake8-bugbear
googletrans-py
google-cloud-speech
gunicorn>=22.0.0
grpcio==1.69.0
idna>=3.15
numpy==2.2.6
pip-tools
proto-plus>=1.25.0
protobuf>=4.25.5
phonenumbers
pre-commit
python-dotenv>=1.2.2
pytest>=9.0.3
requests>=2.32.0
sqlparse>=0.5.0
twilio
urllib3>=2.7.0
uvicorn
virtualenv
websockets
whitenoise

# Security: pin transitive deps to patched versions
aiohttp>=3.14.1
cryptography>=48.0.1
fido2>=2.1.0
PyJWT>=2.13.0

# For postgres
psycopg2-binary
