{% comment %}
Social icon row. Server-renders from context inside a mount point; the SocialLinks
React island replaces it on load. Props come from #sociallinks-props in homepage.html.
{% endcomment %}
<div data-react-component="SocialLinks" data-props-id="sociallinks-props">
    <div class="row w-100">
        <div class="col text-center my-2">
            {% for social in socials %}
            <a href="{{ social.url }}" aria-label="{{ social.platform }}"
                onclick="trackSocialClick('{{ social.platform }}')"><i
                    class="{{ social.icon }} dark-color fa-2x mx-3"></i></a>
            {% endfor %}
        </div>
    </div>
</div>
