<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static "mainwebsite/img/logo/logo_size_invert.jpg" %}"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script type="text/javascript" src="{% static "mainwebsite/js/homepage.js" %}"></script>
    </head>
    <body style="background: rgba(43,43,43,0.87)">
    <div class="navbar-fixed">
        <nav class="transparent z-depth-0">
            <div class="nav-wrapper">
                <img class="responsive-img" style="height: 64px" src="{% static "mainwebsite/img/logo/logo_size_invert_square.jpg" %}">
                <a href="/" class="brand-logo" style="padding-left: 1%">Atilano Garcia</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="resume">Resume</a></li>
                    <li><a href="https://www.github.com/7cougar7" target="_blank">GitHub</a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/">Home</a></li>
            <li><a href="resume">Resume</a></li>
            <li><a href="https://www.github.com/7cougar7" target="_blank">GitHub</a></li>
        </ul>
        <div class="parallax-container" style="height: 100vh">
            <div class="parallax">
                <img style="width: 100%" src="{% static "mainwebsite/img/homepage/collage.png" %}">
            </div>
        </div>
        <div class="section white">
            <div class="row container">
                <p class="grey-text text-darken-3 lighten-3">{{ content }}</p>
            </div>
        </div>
    </div>
    </body>
</html>