{% extends 'new_base.html' %}
{% load static %}

{% block content %}
<div class="glass-card d-flex align-items-center">
    <div class="container text-center pt-2 px-md-4 pt-md-4 pb-md-3">
        <div class="row d-flex flex-wrap align-items-center">
            <div class="col d-none d-lg-block">
                <img src="{% static 'mainwebsite/img/graduation/UT_Seal.png' %}" class="img-fluid w-50">
            </div>
            <div class="col d-lg-none">
                <img src="{% static 'mainwebsite/img/graduation/UT_Seal.png' %}" style="max-width:15vw; height:auto">
            </div>
            <div class="col-6">
                <div class="d-none d-lg-block">
                    <div class="row">
                        <div class="col">
                            <h1 class="display-6">
                                <u><b>Tilo's Graduation</b></u>
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h1 class="display-6" style="font-size: 2rem;">May 5-6th, 2023</h1>
                        </div>
                    </div>
                </div>
                <h1 class="display-5 d-lg-none">
                    <u><b>Tilo's Graduation</b></u>
                </h1>
            </div>
            <div class="col d-none d-lg-block">
                <img src="{% static 'mainwebsite/img/graduation/UT_Seal.png' %}" class="img-fluid w-50">
            </div>
            <div class="col d-lg-none">
                <img src="{% static 'mainwebsite/img/graduation/UT_Seal.png' %}" style="max-width:15vw; height:auto">
            </div>
        </div>
        <div class="row d-lg-none">
            <div class="col">
                <h1 class="display-6">May 5-6th, 2023</h1>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex flex-wrap align-items-center">
                <h1 class="display-6" style="font-size: 2rem;">I will be graduating from the University of Texas with a
                    Bachelor of Science in
                    Electrical Engineering.
                </h1>
            </div>
            <div class="col my-auto mx-2">
                <div class="row my-4 px-1 px-lg-5">
                    <a class="btn btn-primary" href="https://www.youtube.com/watch?v=Z8m3L7OloCk"
                        target="_blank" role="button" style="border-color:#CC5500;background-color:#CC5500">
                        <p class="my-0">
                            Cockrell School of Engineering Livestream<br>
                            (May 5th, 5:30pm)
                        </p>
                    </a>
                </div>
                <div class="row my-4 px-1 px-lg-5">
                    <a class="btn btn-primary" href="https://commencement.utexas.edu/content/webcasts" target="_blank"
                        role="button" style="border-color:#CC5500;background-color:#CC5500">
                        <p class="my-0">
                            University Wide Commencement Livestream<br>
                            (May 6th, 7:30pm)
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="lead m-0">
                    Additionally, I will be graduating as President of the Alpha Tau Chapter of Kappa Kappa Psi, member
                    of the Alpha Iota chapter of Phi Mu Alpha Sinfonia, Trombone Section Leader of the Longhorn Band,
                    and member of THE Longhorn Pep Band.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-2 my-auto d-none d-lg-block">
                <img src="{% static 'mainwebsite/img/graduation/dancing_tilo.gif' %}"
                    class="img-fluid w-75 rounded py-1">
            </div>
            <div class="col my-auto d-lg-none">
                <img src="{% static 'mainwebsite/img/graduation/dancing_tilo.gif' %}" class="img-fluid rounded py-1">
            </div>
            <div class="col d-flex flex-wrap align-items-center">
                <p class="my-0">
                    As I reflect on my college journey, I am truly grateful for the unwavering support and
                    encouragement
                    from each one of you. Your belief in me has made a significant impact on my personal and
                    academic
                    growth, and I am incredibly thankful for your presence in my life. <span class="d-none d-lg-flex">As
                        I embark on the next
                        chapter,
                        I carry with me the lessons, experiences, and cherished memories that you have helped shape.
                        From
                        the bottom of my heart, thank you for being an integral part of my college career and for your
                        continued support as I move forward.
                    </span>
                </p>
            </div>
        </div>
        <div class="row d-lg-none">
            <div class="col">
                <p>
                    As I embark on the nextchapter, I carry with me the lessons, experiences, and cherished memories
                    that you have helped shape. From the bottom of my heart, thank you for being an integral part of my
                    college career and for your continued support as I move forward.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="m-0">
                    I am excited to celebrate this milestone with you all, and I hope you will join me in
                    celebrating
                    my graduation. In the spirit of gratitude, I would like to mention that should anyone wish to extend
                    their generosity through a gift, my Venmo is available for your convenience. Once again, thank you
                    all for the love and support you have shown me throughout this journey, and I eagerly anticipate
                    what lies ahead in this exciting new chapter.
                </p>
            </div>
        </div>
        <div class="row my-3 my-lg-2">
            <div class="col">
                <a class="btn btn-primary" href="https://account.venmo.com/u/tilo_g_" target="_blank" role="button"
                    style="border-color:#008CFF;background-color:#008CFF">
                    <div class="d-none d-lg-block">
                        <img src="{% static 'mainwebsite/img/graduation/venmo-logo.png' %}"
                            style="max-width:10vw; height:auto">
                    </div>
                    <div class="d-lg-none">
                        <img src="{% static 'mainwebsite/img/graduation/venmo-logo.png' %}"
                            style="max-width:20vw; height:auto">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}