{% extends 'new_base.html' %}
{% load static %}

{% block content %}
{{ projectlist_props|json_script:"projectlist-props" }}
{{ sociallinks_props|json_script:"sociallinks-props" }}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5" style="padding-left: 10px !important; padding-right: 10px !important;">
            <div class="container-fluid h-100 d-flex flex-column g-0">
                <div class="glass-card mb-0" style="height: auto; opacity: 0;">
                    <img src="{% static 'mainwebsite/img/homepage/carousel/PepBand.jpg' %}" class="img-thumbnail"
                        alt="Atilano Garcia performing with the pep band, showcasing musical talents and university involvement" style="border-radius: 20px">
                </div>
                <div class="glass-card flex-grow-1 d-none d-lg-block" style="height: auto; opacity: 0;">
                    {% include 'partials/_projects.html' %}
                </div>
            </div>
        </div>
        <div class="col-md-7" style="padding-left: 10px !important; padding-right: 10px !important;">
            <div class="container-fluid h-100 d-flex flex-column g-0">
                <div class="glass-card mb-0" style="height: auto; opacity: 0;">
                    {# <p class="dark-color">Test</p>#}
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col text-center">
                                <h1 class="dark-color card-title">Welcome to My Website!</h1>
                            </div>
                        </div>
                        <p class="lead dark-color card-text">
                            &emsp;Hi, I'm Atilano Garcia, a software developer who is passionate
                            about using technology to solve real-world problems and make people's lives easier. I have
                            worked on
                            a variety of projects, from web applications to machine learning models. I am always looking
                            for new challenges and opportunities to grow as a developer. Feel free to explore my
                            <a href="{% url 'mainwebsite:graduation' %}" class="dark-color">graduation journey</a>,
                            check out my <a href="{% url 'mainwebsite:translator' %}" class="dark-color" onclick="trackToolUsage('Language Translator')">language translator tool</a>,
                            or try the <a href="{% url 'mainwebsite:urlShortener' %}" class="dark-color" onclick="trackToolUsage('URL Shortener')">URL shortener</a> I built.
                            You can also view my professional background in my
                            <a href="{% static 'mainwebsite/files/Atilano (Tilo) Garcia Resume.pdf' %}" target="_blank" class="dark-color" onclick="trackResumeDownload()">resume</a>
                            or connect with me on <a href="https://www.linkedin.com/in/atilano-garcia/" class="dark-color" onclick="trackSocialClick('LinkedIn')">LinkedIn</a>.
                        </p>
                        <p class="lead dark-color card-text">
                            &emsp;My approach to software development is centered around creating solutions that are
                            intuitive,
                            efficient, and user-friendly. I believe that technology should always work for people, not
                            against
                            them, and that software should always be designed with the end user in mind. Whether I am
                            developing
                            a new software application or optimizing an existing system, I work closely with my clients
                            to
                            understand their needs and deliver solutions that meet their unique requirements.
                        </p>
                    </div>
                </div>
                <div class="glass-card flex-grow-1 d-md-none mb-0" style="height: auto; opacity: 0;">
                    {% include 'partials/_projects.html' %}
                </div>
                <div class="glass-card flex-grow-1" style="height: auto; opacity: 0;">
                    <div class="h-100 d-flex align-items-center">
                        {% include 'partials/_socials.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
