<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script type="text/javascript" src="{% static "mainwebsite/js/kky.js" %}"></script>
    </head>
    <body class="container" style="background: rgba(43,43,43,0.87); width: ">
        <nav style="width: auto">
            <div class="nav-wrapper orange darken-2">
                <div class="col s12">
                    <a href="#" class="breadcrumb">Hendrickson High School</a>
                    <a href="#" class="breadcrumb">UT Austin</a>
                    <a href="#" class="breadcrumb">Longhorn Band</a>
                    <a href="#" class="breadcrumb" style="font-weight: bold">Kappa Kappa Psi</a>
                </div>
            </div>
        </nav>
        {% load static %}
        <div class="parallax-container" style="width: 100%">
          <div class="parallax"><img src="{% static "mainwebsite/img/kkycrest.png" %}"></div>
        </div>
        <div class="section white">
            <div class="row container">
                <h2 class="header">Lorem</h2>
                <p class="grey-text text-darken-3 lighten-3">
                    Lorem ipsum dolor s<span style="font-weight: bolder; color:#f57c00;font-size:250%">i</span>t amet, consectetur adipiscing elit.
                    Praesent volutpat, felis vitae placerat consequat, leo est scelerisque quam, at porta elit ipsum a
                    felis. Donec et ipsum risus. Fusce vel ante aliquam sapien feugiat semper nec ac lorem. <span style="font-weight: bolder; color:#f57c00;font-size:250%">A</span>liquam
                    gravida mollis consectetur. Donec sed porttitor nisl, ut convallis elit. Duis porttitor odio at
                    urna fau<span style="font-weight: bolder; color:#f57c00;font-size:250%">c</span>ibus porta. Sed mattis felis est, ac consequat eros porta eu. Donec semper dignissim dui
                    sit amet lobortis. Fusce in augue ut libero consequat dignissim non a urna. Suspendisse a ex quis
                    ex mollis iaculis.
                </p>
            </div>
        </div>
        <div class="parallax-container">
          <div class="parallax"><img src="{% static "mainwebsite/img/TiloPlayingTrom.JPG" %}"></div>
        </div>
        <div class="section white">
            <div class="row container">
                <h2 class="header">Ipsum</h2>
                <p class="grey-text text-darken-3 lighten-3">
                    Lorem ipsum dolor sit amet, <span style="font-weight: bolder; color:#f57c00;font-size:250%">c</span>onsectetur adipiscing elit.
                    Praesent volutpat, felis vitae placerat consequat, leo est scelerisque quam, at porta elit ipsum a
                    felis. Donec et ipsum risus. Fusc<span style="font-weight: bolder; color:#f57c00;font-size:250%">e</span> vel ante aliquam sapien feugiat semper nec ac lorem. Aliquam
                    gravida mollis consectetur. Donec sed porttitor nisl, ut convallis elit. Duis porttitor odio at
                    urna faucibus porta. Sed mattis felis est, ac consequat eros porta eu. Donec sem<span style="font-weight: bolder; color:#f57c00;font-size:250%">p</span>er dignissim dui
                    sit amet lobortis. Fusce in augue u<span style="font-weight: bolder; color:#f57c00;font-size:250%">t</span> libero consequat dignissim non a urna. Suspendisse a ex quis
                    ex mollis iaculis.
                </p>
            </div>
        </div>
        <div class="parallax-container">
          <div class="parallax"><img src="{% static "mainwebsite/img/SectionPic.png" %}"></div>
        </div>
        <div class="section white">
            <div class="row container">
                <h2 class="header">Hook 'em</h2>
                <p class="grey-text text-darken-3 lighten-3">
                    I Accept :)
                </p>
            </div>
        </div>
    </body>
</html>