{% extends 'new_base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">You have been logged out.</h2>
                    <p>Thank you for visiting. You can log in again below.</p>
                    <a href="{% url 'mainwebsite:passkey_login' %}" class="btn btn-primary">Log In Again</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
