{% extends 'new_base.html' %}

{% block js %}
    <script>
        function submitForm() {
            $.ajax({
                url: "{% url 'start_two_way' %}",
                dataType: "json",
                type: "POST",
                async: true,
                data: {
                    "caller_phone_number": $("#callerNumber").val(),
                    "callee_phone_number": $("#calleeNumber").val(),
                    "access_code": $("#accessCode").val(),
                    'csrfmiddlewaretoken': $("[name=csrfmiddlewaretoken]").val()
                }
            });
        }
    </script>
{% endblock %}

{% block content %}
    <div class="glass-card"
    style="height: 45vh; opacity: 0; display: flex; justify-content: center; align-items: center;">
        <div class="column w-100">
            <div class="row">
                <div class="input-group center-elements p-5">
                    <input type="text" class="form-control" aria-label="Caller Phone Number"
                            aria-describedby="inputGroup-sizing-default" placeholder="Caller Phone Number" id="callerNumber">
                    <input type="text" class="form-control" aria-label="Callee Phone Number"
                            aria-describedby="inputGroup-sizing-default" placeholder="Callee Phone Number" id="calleeNumber">
                    <input type="text" class="form-control" aria-label="Access Code"
                            aria-describedby="inputGroup-sizing-default" placeholder="Access Code" id="accessCode">
                    <button type="button" class="btn light-fill" onclick="submitForm()"><span
                            class="dark-color">Initiate Call</span></button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
